In [19]:
import numpy as np
import pandas as pd

df = pd.read_csv("./data/waqi-covid19-airqualitydata 2019-2020.csv")
cities = df.City.unique()
df_cities = pd.DataFrame(cities, columns=['City'])
print(df_cities)

Wuhan = df['City'] == "Wuhan"

subset = df[Wuhan]
subset = subset[["Date", "max_no2"]]
subset['Date']=pd.to_datetime(df['Date'])
#subset = subset.set_index('Date')

subset

                 City
0               Macau
1       Oklahoma City
2             Raleigh
3             Memphis
4             Jackson
..                ...
611            Almaty
612           Conakry
613           Abidjan
614  Saint Petersburg
615             Accra

[616 rows x 1 columns]

              Date  max_no2
208389  2019-04-01     23.8
208390  2019-04-02     22.0
208391  2019-04-22     14.2
208392  2019-04-29      9.2
208393  2019-06-02      9.6
...            ...      ...
4177547 2020-10-30     27.0
4177548 2020-10-31     16.5
4177549 2020-11-17     15.1
4177550 2020-09-30     12.4
4177551 2020-10-03      8.3

[8677 rows x 2 columns]

In [7]:
subset.dtypes

Date        object
max_no2    float64
dtype: object